body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.project_element{
    text-align: center;

    width: 100%;
}

.project_title{
   font-family: 'Roboto';
   font-size: 5vh;
}

.checkpoint_timeline{
    margin: auto;
    width: 80%;
    height: 20vh;
}

.checkpoint{
    /*transform: rotate(-90deg);*/
    text-align: center;
    width : 99%;
}

.checkpoint.finished{
    background-color: red;
}

.checkpoint.active{
    /*transform: rotate(-90deg);
    font-size: 10vw;*/
}

.checkpoint .name{

}

.remove_project {

    width: 10%;

}