body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.project_element{
    width: 100%;
}

.project_title{
   text-align: center;
}

.checkpoint_timeline{
    margin: auto;
    width: 80%;
    height: 20vw;
}

.checkpoint{
    /*transform: rotate(-90deg);*/
    text-align: center;

    width : 99%;
    height: 10vw;
}

.checkpoint.finished{
    background-color: red;
}

.checkpoint.active{
    /*transform: rotate(-90deg);
    font-size: 10vw;*/
}

.checkpoint .name{}